[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "config/awesome/themes"]
	path = config/awesome/themes
	url = git://github.com/mikar/awesome-themes.git
[submodule "config/awesome/vicious"]
	path = config/awesome/vicious
	url = http://git.sysphere.org/vicious
