@import "mocha.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    min-height: 0;
}

#waybar {
    /*background: transparent;*/
    background-color: @mantle;
    color: @sapphire;
    border-bottom: 1px solid @sapphire;
}

#workspaces {
    border-radius: 1rem;
    margin: 5px;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#mpd,
#load,
#network,
#temperature,
#memory,
#cpu,
#gamemode,
#disk,
#pulseaudio,
#systemd-failed-units,
#custom-lock,
#custom-power {
    background-color: @mantle;
    padding: 2px 8px;
    margin: 0;
}

#systemd-failed-units {
    border-bottom: 1px solid @pink;
}

#custom-gpu-usage {
    color: @green;
    border-bottom: 1px solid @green;
}

#mpd {
    border-bottom: 1px solid @mauve;
}

#custom-weather {
    color: @yellow;
    border-bottom: 1px solid @yellow;
}

#temperature.cpu,
#temperature.gpu {
    color: @red;
    border-bottom: 1px solid @red;
}

#disk {
    color: @teal;
    border-bottom: 1px solid @teal;
}
#cpu {
    color: @maroon;
    border-bottom: 1px solid @maroon;
}
#memory.good {
    color: @green;
    border-bottom: 1px solid @green;
}

#memory.warning {
    color: @peach;
    border-bottom: 1px solid @peach;
}

#memory.critical {
    color: @red;
    border-bottom: 1px solid @red;
}

#clock {
    color: @pink;
    border-bottom: 1px solid @pink;
}

#pulseaudio {
    color: @mauve;
    border-bottom: 1px solid @mauve;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
}

#tray {
    /**margin-right: 1rem;
  border-radius: 1rem;*/
    border-bottom: 1px solid @sapphire;
}
